{% for img in images %}
<div class="card">
    <img src="/images_static/{{ img.ip }}/{{ img.name }}" alt="{{ img.name }}" loading="lazy">
    <div class="card-info">
        <div style="margin-bottom: 4px;">
            <a href="/cache?ip={{ img.ip }}" class="ip-link">{{ img.ip }}</a>
        </div>
        <div>{{ img.name[:20] }}...</div>
        <div style="margin-top: 4px;">{{ img.date }}</div>
    </div>
</div>
{% endfor %}

{% if has_more %}
<div id="load-more-trigger" data-page="{{ page + 1 }}" data-has-more="true" style="width: 100%;">
    <div class="loader">
        <div class="spinner"></div>
    </div>
</div>
{% else %}
<div id="load-more-trigger" data-has-more="false" style="display: none;"></div>
{% endif %}